<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AspNetMvcAds</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- FAVICON -->
    <link href="img/favicon.png" rel="shortcut icon">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/plugins/bootstrap/css/bootstrap-slider.css">
    <!-- Font Awesome -->
    <link href="~/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Owl Carousel -->
    <link href="~/plugins/slick-carousel/slick/slick.css" rel="stylesheet">
    <link href="~/plugins/slick-carousel/slick/slick-theme.css" rel="stylesheet">
    <!-- Fancy Box -->
    <link href="~/plugins/fancybox/jquery.fancybox.pack.css" rel="stylesheet">
    <link href="~/plugins/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link href="~/css/style.css" rel="stylesheet">   
</head>
<body class = "body-wrapper">

    <!-- NAVBAR -->
    @await Component.InvokeAsync("Navbar")

    @RenderBody()

    <!-- FOOTER -->
    <partial name="_Footer" />

    <!-- JAVASCRIPTS -->
    <script src="~/plugins/jQuery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/popper.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap-slider.js"></script>
    <script src="~/plugins/tether/js/tether.min.js"></script>
    <script src="~/plugins/raty/jquery.raty-fa.js"></script>
    <script src="~/plugins/slick-carousel/slick/slick.min.js"></script>
    <script src="~/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/plugins/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/plugins/smoothscroll/SmoothScroll.min.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="~/plugins/google-map/gmap.js"></script>
    <script src="~/js/script.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>